body{
    display: block;
    text-align: center;
    margin: 0;
    padding-top: 10vh;
}

.img-border{
    padding: 10px;
}
.img-border img{
    cursor: pointer;
    border: 0;

}

.sticker-section{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.sticker-section img{
    height: 200px;
}

.password{
    padding: 50px;
}

